.dt_price-range-block {
    margin:60px;
  }
  
  .dt_sliderText{
    width:40%;
    margin-bottom:30px;
    border-bottom: 2px solid red;
    padding: 10px 0 10px 0px;
    font-weight:bold;
  }
  
  .dt_ui-slider-horizontal {
    height: .6em;
  }
  .dt_ui-slider-horizontal {
    margin-bottom: 15px;
    width:40%;
  }
  .dt_ui-widget-header {
    background: #3FE331;
  }
  
  .dt_price-range-search {
    width:40.5%; 
    background-color: #f9f9f9; 
    border: 1px solid #6e6666;
    min-width: 40%;
    display: inline-block;
    height: 32px;
    border-radius: 5px;
    float: left;
    margin-bottom:20px;
    font-size:16px;
  }
  .dt_price-range-field{
    width:20%; 
    min-width: 16%;
    background-color:#f9f9f9; 
    border: 1px solid #6e6666; 
    color: black; 
    font-family: myFont; 
    font: normal 14px Arial, Helvetica, sans-serif; 
    border-radius: 5px; 
    height:26px; 
    padding:5px;
  }
  .dt_search-results-block{
    position: relative;
    display: block;
    clear: both;
  }
  
  .dt_price-range-block {
    margin:60px;
  }
  
  .dt_sliderText{
    width:40%;
    margin-bottom:30px;
    border-bottom: 2px solid red;
    padding: 10px 0 10px 0px;
    font-weight:bold;
  }
  
  .dt_ui-slider-horizontal {
    height: .6em;
  }
  .dt_ui-slider-horizontal {
    margin-bottom: 15px;
    width:40%;
  }
  .dt_ui-widget-header {
    background: #3FE331;
  }
  
  .dt_price-range-search {
    width:40.5%; 
    background-color: #f9f9f9; 
    border: 1px solid #6e6666;
    min-width: 40%;
    display: inline-block;
    height: 32px;
    border-radius: 5px;
    float: left;
    margin-bottom:20px;
    font-size:16px;
  }
  .dt_price-range-field{
    width:35%; 
    min-width: 16%;
    background-color:#f9f9f9; 
    border: 1px solid #6e6666; 
    color: black; 
    font-family: myFont; 
    font: normal 14px Arial, Helvetica, sans-serif; 
    border-radius: 5px; 
    height:26px; 
    padding:5px;
  }
  .dt_search-results-block{
    position: relative;
    display: block;
    clear: both;
  }
  .dt_range_price_js{
    position: absolute !important;
      top: 63% !important;
      background: white !important;
      height: 100px !important;
      border-radius: 3px;
      width:15%;
  }
  .dt_dropdown_range{
    margin-top:60px;
  }
  .dt_inp_price_range{
    margin-top:-50px;
  }
  
  